body{
    margin: 0%;
    background-color: gray;
}
div.topbanner img{
    
    margin: 0%;
}

.circleimages{
    text-align: center;
}
div.circleimages img{
    border: 15px solid rgb(46, 46, 46);
    margin: 5% 5%;
    border-radius: 100%;
}
div.circleimages{
    background-color: gray;
    margin: 0%;
    padding: 25px 50px;
}