body{
    background-color: #5b70db;
    text-align: center;
}
.top{
    color: white;
}
hi:hover{
    color:black
}
.list{
    width: 30%;
    margin: 0% auto;
}
#heroimg{
    width: 30%;
    display: block;
    margin: 0% auto;
}
blockquote{
    color: #fff;
    text-align: center;
    font-size: large;
}