* {
    border: 2px solid purple
}
nav, footer {
    background-color: steelblue;
    color: white;
    padding: 10px;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}
a:hover {
    background-color: white;
    color: steelblue;
}
img {
    width: 30%;
    margin: 5%
}
img {
    width: 80%;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}